/*
 #     #  #     #  #     #  ###  #######  ######    #####      #     #             #####   #######  #     #  #        #######   #####  
 #     #  ##    #  #     #   #   #        #     #  #     #    # #    #            #     #     #      #   #   #        #        #     # 
 #     #  # #   #  #     #   #   #        #     #  #         #   #   #            #           #       # #    #        #        #       
 #     #  #  #  #  #     #   #   #####    ######    #####   #     #  #             #####      #        #     #        #####     #####  
 #     #  #   # #   #   #    #   #        #   #          #  #######  #                  #     #        #     #        #              # 
 #     #  #    ##    # #     #   #        #    #   #     #  #     #  #            #     #     #        #     #        #        #     # 
  #####   #     #     #     ###  #######  #     #   #####   #     #  #######       #####      #        #     #######  #######   #####  
*/
body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", Futura, sans-serif, monospace;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.btn, a.navbar-brand, a.nav-link {
    text-decoration: none;
}
.bg-light {
    background-color: whitesmoke;
}
.bg-blue {
    background-color: #d1e8ff;
}

/*
 #     #     #     ###  #     #      #     #     #     #     #  ######      #     ######  
 ##   ##    # #     #   ##    #      ##    #    # #    #     #  #     #    # #    #     # 
 # # # #   #   #    #   # #   #      # #   #   #   #   #     #  #     #   #   #   #     # 
 #  #  #  #     #   #   #  #  #      #  #  #  #     #  #     #  ######   #     #  ######  
 #     #  #######   #   #   # #      #   # #  #######   #   #   #     #  #######  #   #   
 #     #  #     #   #   #    ##      #    ##  #     #    # #    #     #  #     #  #    #  
 #     #  #     #  ###  #     #      #     #  #     #     #     ######   #     #  #     # 
*/
.navbar {
    padding: 10px 15px;
    font-size: 25px;
    background: transparent !important;
    color: white !important;
    transition: all .5s;
}
.navbar-toggler {
    border-color: rgba(255,255,255,.5) !important;
}
.navbar .navbar-collapse {
    padding: 0 0;
}
.navbar .navbar-brand {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .30rem;
    color: white !important;
    transition: all .5s;
}

.navbar.scrolled {
    font-size: 20px;
    transition: all .5s;
    padding: 5px 15px;
    background: black !important;
}
.navbar.scrolled .navbar-brand {
    font-size: 22px;
    transition: all .5s;
}
.navbar.scrolled .navbar-brand img {
    height: 45px;
    transition: all .5s;
}

.navbar .navbar-brand img {
    margin-right: 15px;
    height: 50px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .navbar {
        font-size: 22px;
        padding: 5px 10px;
        background: black !important;
        transition: all .5s;
    }
    .navbar.scrolled {
        padding: 5px 10px;
        transition: all .5s;
    }
    .navbar.scrolled .navbar-brand {
        font-size: 20px;
    }
    .navbar .navbar-brand img {
        margin-right: 5px;
        transition: all .5s;

    }
    .navbar .navbar-brand {
        margin-right: 5px;
        font-size: 20px;
        letter-spacing: .1rem;
        transition: all .5s;
    }

    .navbar .nav-item .nav-link {
        display: inline-block;
    }
    .navbar .nav-item .nav-link::after {
        margin: auto;
        left: 0;
        right: inherit;
    }
}
.navbar .nav-item .nav-link {
    position: relative;
    padding: 0.1rem 0;
    margin: auto .5rem;
    color: white !important;
}
.navbar .nav-item .nav-link:hover {
    color: white;
}
.navbar .nav-item .nav-link::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 100%;
    background-color: #0066cc;
    transition: all .3s;
    opacity: 0;
}
#main-nav .nav-item .nav-link:hover::after, #main-nav .nav-item.active .nav-link::after {
    background-color: #0066cc;
    bottom: 0;
    opacity: 1;
}

/*
 ######   #######   #####   #######  #     #  ######    #####   #######      #     #     #     #     #  ######      #     ######  
 #     #  #        #     #  #     #  #     #  #     #  #     #  #            ##    #    # #    #     #  #     #    # #    #     # 
 #     #  #        #        #     #  #     #  #     #  #        #            # #   #   #   #   #     #  #     #   #   #   #     # 
 ######   #####     #####   #     #  #     #  ######   #        #####        #  #  #  #     #  #     #  ######   #     #  ######  
 #   #    #              #  #     #  #     #  #   #    #        #            #   # #  #######   #   #   #     #  #######  #   #   
 #    #   #        #     #  #     #  #     #  #    #   #     #  #            #    ##  #     #    # #    #     #  #     #  #    #  
 #     #  #######   #####   #######   #####   #     #   #####   #######      #     #  #     #     #     ######   #     #  #     # 
*/
.placeholder-nav {
    height: 12vh;
    background: white;
}
#resources-nav {
    background: white;
    z-index: 1000;
    padding: 5vh 0;
    border-bottom: medium double black;
    width: 100%;
}

#resources-nav .nav-item .nav-link {
    color: black !important;
    margin: auto 15px;
    word-spacing: -.5rem;
}
@media only screen and (max-width: 991px) {
    #resources-nav {
        font-size: 22px;
        transition: all .5s;
    }
}
#resources-nav::after {
    content: "\01F60F";
    position: absolute;
    padding: 0 5px;
    left: 50%;
    bottom: -17.5px;
    transform: translateX(-50%);
}
.sticky-scroll {
    background: white !important;
    top: 65px;
    padding: 10px 15px !important;
    position: fixed;
    font-size: 22px;
}

/*
 #######  #######  #######  #######  #######  ######  
 #        #     #  #     #     #     #        #     # 
 #        #     #  #     #     #     #        #     # 
 #####    #     #  #     #     #     #####    ######  
 #        #     #  #     #     #     #        #   #   
 #        #     #  #     #     #     #        #    #  
 #        #######  #######     #     #######  #     # 
*/
footer h6 {
    font-size: 1.15rem;
}
footer a {
    color: black;
    text-decoration: underline;
}
footer a:hover {
    text-decoration: none;
    color: #0066cc;
}
footer a:hover i {
    color: black;
}

/*
  #####   #######  #     #  #######  #######  #     #  #######       #####   #######   #####   #######  ###  #######  #     #   #####  
 #     #  #     #  ##    #     #     #        ##    #     #         #     #  #        #     #     #      #   #     #  ##    #  #     # 
 #        #     #  # #   #     #     #        # #   #     #         #        #        #           #      #   #     #  # #   #  #       
 #        #     #  #  #  #     #     #####    #  #  #     #          #####   #####    #           #      #   #     #  #  #  #   #####  
 #        #     #  #   # #     #     #        #   # #     #               #  #        #           #      #   #     #  #   # #        # 
 #     #  #     #  #    ##     #     #        #    ##     #         #     #  #        #     #     #      #   #     #  #    ##  #     # 
  #####   #######  #     #     #     #######  #     #     #          #####   #######   #####      #     ###  #######  #     #   #####   
*/
.content-container h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
.content-container p {
    font-size: 1.25rem;
}
.content-container:not(#coding-resources) .row {
    margin: 5vh auto;
}
.content-container#coding-resources .row {
    margin: 5vh auto;
}
.content-container a {
    color: #004696;
}
#three-c.content-container .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container h2:after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 10px;
    width: 50px;
    background-color: #0066cc;
    height: 5px;
}

/*
 ######   #######   #####   #######  #     #  ######    #####   #######   #####       ######      #      #####   ####### 
 #     #  #        #     #  #     #  #     #  #     #  #     #  #        #     #      #     #    # #    #     #  #       
 #     #  #        #        #     #  #     #  #     #  #        #        #            #     #   #   #   #        #       
 ######   #####     #####   #     #  #     #  ######   #        #####     #####       ######   #     #  #  ####  #####   
 #   #    #              #  #     #  #     #  #   #    #        #              #      #        #######  #     #  #       
 #    #   #        #     #  #     #  #     #  #    #   #     #  #        #     #      #        #     #  #     #  #       
 #     #  #######   #####   #######   #####   #     #   #####   #######   #####       #        #     #   #####   ####### 
*/
.resource-category {
    scroll-margin-top: 125px;
}
.resource-title-wrapper h2 {
    position: relative;
    display: inline-block;
}
.resource-title-wrapper .show-more-link {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.resource-title-wrapper .show-more {
    position: absolute;
    top: 10px;
    left: -45px;
    color: #212529;
    transition: all .2s ease-in-out;
}
.resource-title-wrapper .show-more.active {
    transform: rotate(90deg);
    color: #004696;
    transition: all .2s ease-in-out;
}
.resource-title-wrapper {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
}
.resource-content {
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
    height: 100%;
}

/* minimize categories if user is on mobile */
@media only screen and (max-width: 768px) {
    .resource-content {
        height: 0;
    }
}
