---
import { Icon } from "astro-icon/components";

export interface Props {
    id: string;
}

const { id } = Astro.props;
---

<a href={`#${id}`} title="Copied link to clipboard!" class="copy-anchor"><Icon name="fa6-solid:link" size="1em" /></a>

<script>
    import { Tooltip } from "bootstrap";

    document.querySelectorAll(".copy-anchor").forEach((el) => {
        const tooltip = new Tooltip(el, {
            trigger: "manual",
        });
        el.addEventListener("click", (e) => {
            e.preventDefault();

            const url = (el as HTMLAnchorElement).href;
            navigator.clipboard.writeText(url);

            tooltip.show();
            setTimeout(() => tooltip.hide(), 2000);
        });
    });
</script>

<style>
    /* align icon with text */
    [data-icon] {
        vertical-align: -0.125em;
    }
</style>
