<footer class="bg-light p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2 py-4 mb-md-5">
                <h6>Quick Links</h6>
                <hr>
                <a href="/">Home</a>
                <br>
                {/*
                <a href="/about/">About</a>
                <br>
                */}
                <a href="/resources/">Resources</a>
            </div>
            <div class="col-md-5 py-4 mb-md-5">
                <h6>Contact Us</h6>
                <hr>
                <a target="_blank" href="https://github.com/WheelerCodingClub"><i data-bs-toggle="tooltip" title="WheelerCodingClub" class="fab fa-github fa-3x"></i></a>
                <a target="_blank" href="mailto:wheelercodingclub@gmail.com"><i data-bs-toggle="tooltip" title="wheelercodingclub@gmail.com" class="fas fa-envelope fa-3x"></i></a>
            </div>
            <div class="col-md-5 py-4 mb-md-5">
                <h6>Feedback</h6>
                <hr>
                <p>If you have any feedback for Coding Club, <a target="_blank" href="https://forms.gle/5vvFmtFj4vUDVymNA">let us know</a>!</p>
            </div>
        </div>
    </div>
</footer>
