---
import { Image } from "astro:assets";

import logo from "~/assets/images/logo.svg";

export interface Props {
    page?: "home" | "resources";
}

const { page } = Astro.props;
---

<nav id="main-nav" class="navbar fixed-top navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <Image src={logo} alt="" /><span class="text-uppercase">Coding Club</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class:list={["nav-item", page === "home" && "active"]}>
                    <a class="nav-link" href="/">Home</a>
                </li>
                {/*
                <li class:list={["nav-item", page === "about" && "active"]}>
                    <a class="nav-link" href="/about/">About</a>
                </li>
                */}
                <li class:list={["nav-item", page === "resources" && "active"]}>
                    <a class="nav-link" href="/resources/">Resources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    const nav = document.getElementById("main-nav")!;

    // scrolled nav
    const onScroll = () => {
        nav.classList.toggle("scrolled", window.scrollY > 50);
    };
    onScroll();
    window.addEventListener("scroll", onScroll);
</script>
